.theme-light .page {
  --main-text-color: #353430;
  --heading-color: #353430;
  --background-color: #fff1f7;
  --accent-heading-color: #353430;
  --decorative-elements: #353430;
  --accent-color: #ff8dcb;
  --header-menu-hover-color: rgb(50 49 45 / 0.4);
}

.theme-light .page .header__decorated-element {
  display: none;
}

.theme-light .page .decorated-heading {
  color: #ffc2e6;
}
