.page {
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header__theme-menu-button {
  color: var(--color-title);
  padding: 0 10px;
  font-family: 'IBM Plex mono';
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-title);
  padding: 0 10px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--btn-hover);
  color: var(--color-title);
  padding: 0 10px;
  font-family: 'IBM Plex mono';
  cursor: pointer;
} 

.header__theme-menu-button_active:hover {
  border: 1px solid var(--color-title);
  padding: 0 10px;
}

.rec {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--bg-color-title-paragraph);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
  font-family: 'IBM Plex mono';
}

.rec::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--bg-color-title-paragraph);
  box-shadow: 
    0 0 5px var(--bg-color-title-paragraph),
    0 0 10px var(--bg-color-title-paragraph),
    0 0 15px var(--bg-color-title-paragraph);
}

.header {
  display: flex;
  flex-direction: column;
  background-image: var(--bg-image-header);
  height: 100vh;
  width: 100%;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 20px;
}

.header__title {
  display: flex;
  justify-content: start;
  color: var(--color-title-header);
  text-shadow: 4px 4px var(--bg-color-title-paragraph);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  margin-top: 200px;
  margin-bottom: 100px;
}

.title-cover {
  background-color: var(--bg-color-title-paragraph);
  color: var(--color-paragraph-text);
  font-size: 18px;
}

.header__paragraph {
  display: flex;
  margin-left: auto;
  font-weight: bold;
  margin-bottom: 100px;
  margin-right: 20px;
  width: fit-content;
}

.link-word {
  text-shadow: 1px 1px var(----bg-color-title-paragraph-title);
  text-decoration: none;
}


.paragraph {
  font-weight: 400;
  color: var(--color-text);
}

.section__title {
  color: var(--color-title);
}

.section-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
}

.section-blocks__first {
  display: grid;
  gap: 20px;
}

.section-second {
  display: grid;
  grid-template-rows: min-content;
  gap: 50px;
  margin: 20px;
}

.section-blocks__second {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-third {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: 20px 0 200px 0;
}

.section-blocks__third {
  display: grid;
  gap: 20px;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
  
}
.books {
  grid-area: books;
}

.sunset {
  grid-area: sunset;
}

.street {
  grid-area: street;
}

.section-fourth {
  display: grid;
  gap: 20px;
}

.section-fourth__photo {
  display: grid;
  grid-template-areas: 
    'sunset sunset ice-cream'
    'tape books ice-cream'
    'tape street street';
  gap: 20px;
}

.section-fourth__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media 