.theme-auto .page {
  --bg-color:#000028;
  --color-paragraph-text:#000028;
  --bg-image-header:url(../images/cover-image-dark.png);
  --color-title-header:#DB00FF;
  --color-text:#F1B2CE;
  --bg-color-title-paragraph:#ff0070;
  --color-title: #ff0070;
}

